* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #f0f4f8;
  color: #333;
}

header {
  background-color: #6c5ce7;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #4c3bc8;
}

.hero {
  background-image: linear-gradient(to bottom, #6c5ce7, #8b7dfa);
  padding: 50px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: heroAnimation 2s infinite;
}

@keyframes heroAnimation {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 10px;
  font-family: 'cursive', sans-serif;
  text-decoration: underline;
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
  background-color: #0c0b0b;
}

.servicio {
  background-color: #fff;
  padding: 20px;
  border: 3px solid #070000b4;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.servicio:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.servicio img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s ease-in-out;
}

.servicio:hover img {
  opacity: 0.5;
}

.servicio p {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.servicio:hover p {
  opacity: 1;
}

.nstr {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  color: #fff;
}

.boton-flotante {
  position: fixed;
  bottom: 40px;
  right: 7px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-flotante a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #6c5ce7;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.boton-flotante a:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 10px;
  text-align: center;
  clear: both;
  background-color: #6c5ce7;
  color: #fff;
  border-top: 3px solid #4c3bc8;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

footer a:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size:
